@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    margin: 0;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
    min-height: 100vh;
    position: relative;
    font-family: Poppins, serif;
}

.main {
    margin: 0;
    padding-bottom: 2.5rem;
}

.produto {
    width: 100%;
}

.imagen-produto {
    float: left;
    width: 50%;
}

.imgposicao {
    position: absolute;
    top: 0px;
    left: 0px;
}

.receitas {
    position: relative;
    border-radius: 360px 90px 360px 90px;
    background: linear-gradient(94.78deg, #cb0000, #ff8000);
    color: white;
}

.receitas h1 {
    padding-top: 4%;
    margin: 0% 10% 2% 40%;
    text-align: left;
}

.receitas p {
    margin: 0% 10% 10% 40%;
    text-align: left;
}

.receitas a {
    text-decoration: rgb(10, 10, 10);
    color: #ffffff;
    text-shadow: 1px 0px 0px #818181;
}

.receitas a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 6px #000000;
}

.imagen-produto img {
    width: 100%;
    height: 340px;

}

.sobre-produto {
    float: left;
    width: 50%;
    height: 340px;
    /* background-color: #dd0105; */
    background: linear-gradient(94.78deg, #dd0105, #b30003);
    padding: 10px;
    text-align: left;
    color: white;
    line-height: 1.8;
}

/*- ---------------------------------------------------------------------------------------------------------------- -*/
/* - start index - */
/*- ---------------------------------------------------------------------------------------------------------------- -*/

.best_recipes {
    border: 1px solid black;
    padding: 15px;
}

.best_recipes .title {
    text-decoration: underline;
}

.best_recipes ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.best_recipes ul li{
    margin: auto;
}

.bg_img {
    display: block;
    position: relative;
    padding: 10px 0;
}

.bg_img::after {
    content: "";
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/*- ---------------------------------------------------------------------------------------------------------------- -*/
/* - end index - */
/*- ---------------------------------------------------------------------------------------------------------------- -*/

/*- ---------------------------------------------------------------------------------------------------------------- -*/
/* - start preloader - */
/*- ---------------------------------------------------------------------------------------------------------------- -*/
#preloaderPage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff75;
    z-index: 1000000097;
}

.loader {
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

#loader-1:before, #loader-1:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid transparent;
    border-top-color: #20324fe0;
}

#loader-1:before {
    z-index: 100;
    animation: spin 2s infinite;
}

#loader-1:after {
    border: 7px solid #72b2b46b;
}

/*- ---------------------------------------------------------------------------------------------------------------- -*/
/* - end preloader - */
/*- ---------------------------------------------------------------------------------------------------------------- -*/

/*- ---------------------------------------------------------------------------------------------------------------- -*/
/* - start navbar - */
/*- ---------------------------------------------------------------------------------------------------------------- -*/
.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

.navbar-color {
    background-color: rgb(255, 255, 255);
}

.navbar img {
    cursor: pointer;
    width: 70px;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

.nav-item {
    margin: auto;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item a:hover {
    text-decoration: underline;
}

.footer {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #8f8f8f;
    color: #ffe8d8;
    text-align: center;
}

@media screen and (max-width: 769px) {
    .navbar {
        position: relative;
        background-color: rgb(255, 255, 255);
    }
}

/*- ---------------------------------------------------------------------------------------------------------------- -*/
/* - end navbar - */
/*- ---------------------------------------------------------------------------------------------------------------- -*/

/*- ---------------------------------------------------------------------------------------------------------------- -*/
/* - start tools - */
/*- ---------------------------------------------------------------------------------------------------------------- -*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hide {
    display: none;
}

.noMagin {
    margin: 0 !important;
}

.noPading {
    padding: 0 !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*- ---------------------------------------------------------------------------------------------------------------- -*/
/* - end tools - */
/*- ---------------------------------------------------------------------------------------------------------------- -*/
